<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60" shutdownHook="disable">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyy/MM/dd HH:mm:ss.SSS}\t[%t]\t%-5level\t%logger{36}\t%msg%n</Pattern>
            </PatternLayout>
        </Console>

    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>
